/* Provide sufficient contrast against white background */
a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

/*styling the nav bar for burger display*/
@media (max-width: 575px) {
    #logo_in {
        display: none;
    }
    .navbar-nav {
        background-color: cornsilk;
        padding: 10px;
    }
    .navbar-nav li {
         color: dimgrey;
    }
}
/*Horizontally aligning the fancy box that slides from the left*/
.noti-section-one{
    left:35%;
}

.scrollabe-section {
    height: 100%;
    max-height: 400px;
    overflow-y: scroll
}

.highlight-required {
    border-color: red !important;
}

.larrgeandbold{
    font-size:larger;
    font-weight:bold;
    color:red;
    text-transform:uppercase;
}
 